RewriteEngine on
RewriteBase /
#Если нет такой папки
#Если нет такого файла
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
#Выполнить преобразования
RewriteRule ^([A-z]+)/([A-z]+)/([0-9]+)$ index.php?ctrl=$1&act=$2&id=$3 [L]
RewriteRule ^([A-z]+)/([A-z]+)$ index.php?ctrl=$1&act=$2 [L]